python==3.10.11
Flask==3.0.3
pandas==2.0.3
numpy==1.25.2
requests==2.27.1
scikit-learn==1.2.2
matplotlib==3.10.0
spacy==3.8.3
spacy-legacy==3.0.12
spacy-loggers==1.0.5
en-core-web-sm==3.2.0
joblib==1.4.2
nltk==3.9.1
pickle4
gunicorn 
